/* Roboto Bold */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");

/* Roboto regular */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-image: url("../src/images/2b3b04771ccca26c3dd96d781b0117ca.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
